body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(68, 68, 68);
}

main {
  padding: 130px 16px 0;
}

main ul {
  max-width: 1200px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 20px;
  padding: 0;
}

@media (min-width: 48em) {
  li:nth-of-type(3) {
    grid-column: 1 / span 2;
  }
    main ul {
    grid-template-columns: 1fr 1fr;
}

}

main li {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}
main li img {
    width: 100%;
  aspect-ratio: 3/2;
    object-fit: cover;
  }
@media (min-width:48em) {
    main li {
        flex-direction: row;
    }
    main li img {
        width: 300px;
    }
}



.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-content p {
  font-family: var(--font-body);
  font-size: 1rem;
}

.item-content h2 {
  margin: 0;
  font-family: var(--font-heading);
  font-size: 1.5rem;
}

.actions {
  text-align: right;
}

.actions a {
    font-family: var(--font-heading);
  text-decoration: none;
  padding: 6px;
  color: white;
  border-radius: 5px;
  background-color: #333;
  font-size: 0.875rem;
  transition: all 0.3s ease-in;
  display: inline-block;
}

.actions a:hover {
  transform: scale(1.1);
}
